<div class="auth-container">
  <h2>Registro</h2>

  <!-- Mostrar el formulario solo si aún no hay QR -->
  <div *ngIf="!otpauthUrl; else qrStep" class="p-fluid">
    <div class="p-field">
      <label for="nombre">Nombre</label>
      <input id="nombre" type="text" pInputText [(ngModel)]="username" />
    </div>
    <div class="p-field">
      <label for="apellido">Apellido</label>
      <input id="apellido" type="text" pInputText [(ngModel)]="apellido" />
    </div>
    <div class="p-field">
      <label for="correo">Correo</label>
      <input id="correo" type="email" pInputText [(ngModel)]="email" />
    </div>
    <div class="p-field">
      <label for="password">Contraseña</label>
      <input id="password" type="password" pInputText [(ngModel)]="password" />
    </div>
    <div class="p-field">
      <label for="confirmPassword">Confirmar Contraseña</label>
      <input id="confirmPassword" type="password" pInputText [(ngModel)]="confirmPassword" />
    </div>
    <div class="button-container">
      <button
        pButton
        label="Registrar"
        severity="info"
        [rounded]="true"
        [disabled]="!username || !email || !password || !confirmPassword"
        (click)="onRegister()"
      ></button>
      <button
        pButton
        label="Volver a Login"
        severity="info"
        [rounded]="true"
        routerLink="/auth/login"
      ></button>
    </div>
  </div>

  <!-- Mostrar QR si ya fue generado -->
    <ng-template #qrStep>
    <div class="p-fluid">
      <h3>¡Bien! Escanea este QR con Google Authenticator:</h3>
      <img
       [src]="qrUrl"
        alt="QR MFA"
      />

      <p>O usa este enlace:</p>
      <code>{{ otpauthUrl }}</code>
    </div>

     <!-- Campo para ingresar OTP -->
    <div class="p-field">
      <label for="otp">Código OTP</label>
      <input id="otp" type="text" pInputText [(ngModel)]="otp" />
    </div>

    <!-- Botón para activar MFA -->
    <button
      pButton
      label="Activar MFA"
      (click)="activarMFA()"
      [disabled]="!otp"
    ></button>

  </ng-template>
</div>
