<div class="dashboard-container">
  <h2 class="title">Panel de Paciente</h2>
  <div class="card-container">
    <div class="card" *ngIf="permisos.includes('ver_consultas')">
      <h3>Consultas</h3>
      <p>Visualiza tus consultas médicas.</p>
      <button pButton label="Ver Consultas" routerLink="/paciente/consultas"></button>
    </div>
  </div>
</div>

<p-card header="Panel de Paciente">
  <div class="buttons">
    <button
      *ngIf="permisos.includes('ver_consultas')"
      pButton
      label="Ver Consultas"
      routerLink="/paciente/consultas"
    ></button>

    <button
      *ngIf="permisos.includes('add_cita')"
      pButton
      label="Solicitar Cita"
      routerLink="/paciente/citas/solicitar"
    ></button>

    <button
      *ngIf="permisos.includes('ver_recetas')"
      pButton
      label="Mis Recetas"
      routerLink="/paciente/recetas"
    ></button>
  </div>
</p-card>
