/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f4f6f8; // color claro de fondo
  color: #333;               // texto oscuro
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}
