
<div class="dashboard-container">
  <h2 class="title">Panel de Enfermera</h2>
  <div class="card-container">
    <div class="card" *ngIf="permisos.includes('ver_consultas')">
      <h3>Consultas</h3>
      <p>Gestiona las consultas asignadas.</p>
      <button pButton label="Ver Consultas" routerLink="/enfermera/consultas"></button>
    </div>
    <div class="card" *ngIf="permisos.includes('ver_usuarios')">
      <h3>Usuarios</h3>
      <p>Ver todos los usurios</p>
      <button pButton label="Ver Usuarios" routerLink="/enfermera/usuarios"></button>
    </div>
  </div>
</div>


<p-card header="Panel de Enfermera">
  <div class="buttons">
    <button
      *ngIf="permisos.includes('ver_consultas')"
      pButton
      label="Gestionar Consultas"
      routerLink="/enfermera/consultas"
    ></button>

    <button
      *ngIf="permisos.includes('ver_expedientes')"
      pButton
      label="Expedientes"
      routerLink="/enfermera/expedientes"
    ></button>

    <button
      *ngIf="permisos.includes('ver_citas')"
      pButton
      label="Solicitar/Ver Citas"
      routerLink="/enfermera/citas"
    ></button>

    <button
      *ngIf="permisos.includes('ver_horarios')"
      pButton
      label="Horarios"
      routerLink="/enfermera/horarios"
    ></button>
  </div>
</p-card>
